

.Contents-Page{
    margin: 50px;
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.Contents-Page header{
    width: 100%;
}
.contentsTitle{
align-self: center;
}

.playlistBar{
    background-color: bisque;
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .PlaylistCard{
    background-color: black;
    margin: 10px;
    padding: 10px;
    align-content: center;
    justify-content: center;
  }
  .PlaylistCard h1{
    font-size: smaller;
    color: wheat;
    height: 100%;
    
  }