.ContentPage{
display: flex;
flex-direction: column;
margin: 15%;
padding: 20px;
margin-top: 10px;
border-style:  solid;


}
.ContentPage img{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 300px;
  border-style:  solid;
}


