.Homepage {
    text-align: center;
  }
  
  .header{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  