.Homepage {
  background: black;
  } 

  .Container{
    max-width: 1100px;
    margin:0 auto ;
    padding: 0 30px;
    box-sizing: border-box;
  }
  
  .Body{
   margin:0 auto;
  } 
 
  
 .Me-Box{
  
  min-height: 305px;
 
  background: transparent;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
  color: #fff;
 }

 .Me-Box .Intro{
  color: #F0F2F5;
  /* font-family: 'Clash Grotesk', sans-serif;; */
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.6em;
  height: px;
   width: 73px;
   line-height: 37px;
 }

 .Me-Box .Name{
  /* display: flex; */
  /* margin-top: 10px; */
  font-family:  'ClashGrotesk-Semibold';
  /* width: 611px; */
  line-height: 85px; 
  /* justify-content: center; */
  /* align-content: center; */
  font-size: 3.38em;
  color: #F0F2F5;
  font-weight:bold ;
  
 }

 .Me-Box .Proffesion{
  font-size: 2em;
  line-height: 37px;
  color: #F0F2F5;
  /* margin-top: 20px; */
  font-family: 'Coolvetica', sans-serif;
 }

 .Me-Box .About{
  width: 606px;
  margin-top: 20px;
  font-family: 'Poppings';
  text-align: center;
  text-wrap: wrap;
  color: #B0B0B0;
  line-height: 1.4em;
  padding: auto;
  font-size: 1.4em;
 }

 .Me-Box .Buttons{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
 }
 .Me-Box button{
  margin-top: 30px;
  height: 65px;
  width: 171px;
  border-radius: 20px;
  background: #FDF7F2;
  color: #161513;
  font-weight: bold;
 }

 .AboutMe-Container{
  

  max-width: 1100px;
  margin:0 auto ;
  padding: 0 30px;
  box-sizing: border-box;
  
 }
 
 .AboutMe-Box{
  margin-top: 130px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
   margin-left: 60px;  
 }

 .AboutMe-Details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(500px auto);
  gap: 40px;
 }



 .AboutMe-ContentText{
  b{
    color: #B0B0B0;
    font-size: 2em;
  }
  width: 513px;
  height: 258px;
  text-wrap: wrap;
  font-family: 'Poppings';
  text-align: left;
  
  margin-top: 30px;
   span{
    line-height: 29px;
    padding-top: 0;
    color: #B0B0B0;
    
   }


 }

 .AboutMe-ContentButton{
  margin-top: 10px;
  height: 49px;
  width: 163px;
  background: #FDF7F2;
  color: #161513;
  border-radius: 15px;
  font-weight: bold;
  box-sizing: border-box;
 }
 



 .AboutMe-DetailsImage{
  width: 442.15px;
  /* align-self: self-start;
  margin-top: auto; */
  height: 100px;
  margin-left: 60px;
  margin-top: 60px;


  img{
   

  }
  
 }



.Skills-Container{

  max-width: 1100px;
  margin:0 auto ;
  margin-top: 90px;
  padding: 0 30px;
    color: white;
  background-color: transparent;
box-sizing: border-box;


  
}

.Fields-list {
  display: grid;
  gap: 20px;
  grid-template-areas:
    'backend frontend'
    'backend devops';
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 200px; */
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    justify-content: center;

  padding: 20px;
  margin: 40px;
}

/* Apply grid-area to the child elements */
.Field-Container:nth-of-type(1) {
  grid-area: backend;
}
.Field-Container:nth-of-type(2) {
  grid-area: frontend;
}
.Field-Container:nth-of-type(3) {
  grid-area: devops;
}










.Field-Container{
   border-radius: 15px;
   background: #111;
   display: flex;
   flex-direction: column;
   color: white;
   /* overflow: hidden;  */
   padding: 20px;
   box-sizing: border-box;
   overflow: hidden;
}

.Field-Container .FieldName{
  font-size: 1.6em;
  margin: auto;
  margin-top: 10px ;
  font-weight: bold;
  color: #78ADFE;
  text-wrap: wrap;
  width: 258px;
  text-align: center;
}

.Skills{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  margin-bottom: auto;
 
}
.Skill {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
}
.SkillName{
  display: flex;
  justify-content: center;
  align-items: center;
  

  #SkillName{
    color : #B0B0B0;
    font-weight: 16px;
    /* font-size: 16px; */
    font-family: 'Poppings';
  }


  #SkillLogo{
    padding-right: 5px;
    padding-bottom: 2px;
   img{ max-height: 10px;}
  }
}

.SkillDescr{
  margin-right: 20px;

  height: 19px;
  width: 58px;
  color: #7D7D7D;
  background: #111;
  font-size: 0.6em;
  font-weight: 10px;
  font-family: 'Poppins';
}
