.Homepage {
  background: black;
  } 
  /* .Body{
   margin: 50px;
  } */
 
  
 .Me-Box{
  
  min-height: 305px;
 
  background: transparent;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
  color: #fff;
 }

 .Me-Box .Intro{
  color: #F0F2F5;
  /* font-family: 'Clash Grotesk', sans-serif;; */
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.6em;
  height: px;
   width: 73px;
   line-height: 37px;
 }

 .Me-Box .Name{
  /* display: flex; */
  /* margin-top: 10px; */
  font-family:  'ClashGrotesk-Semibold';
  /* width: 611px; */
  line-height: 85px; 
  /* justify-content: center; */
  /* align-content: center; */
  font-size: 3.38em;
  color: #F0F2F5;
  font-weight:bold ;
  
 }

 .Me-Box .Proffesion{
  font-size: 2em;
  line-height: 37px;
  color: #F0F2F5;
  /* margin-top: 20px; */
  font-family: 'Coolvetica', sans-serif;
 }

 .Me-Box .About{
  width: 606px;
  margin-top: 20px;
  font-family: 'Poppings';
  text-align: center;
  text-wrap: wrap;
  color: #B0B0B0;
  line-height: 1.4em;
  padding: auto;
  font-size: 1.4em;
 }

 .Me-Box .Buttons{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
 }

 .Me-Box .Buttons button{
  margin-top: 10px;
  height: 65px;
  width: 171px;
  border-radius: 20px;
  background: #FDF7F2;
  color: #161513;
  font-weight: bold;
 }

 .AboutMe-Container{
  /* max-width: 1100px; */
  /* padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto; */

  max-width: 1100px;
  margin:0 auto ;
  margin-left: 30px;
  padding: 0 30px;
  box-sizing: border-box;
  
 }
 
 .AboutMe-Box{
  margin-top: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 430px;
  
 }
.AboutMe-Title{
  height: 59px;
  font-size: 3.3em;
  color: #F0F2F5;
  font-family: 'Coolvetica', sans-serif;
  box-sizing: border-box;
  margin-bottom: 50px;
}
 .AboutMe-Details{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: auto;
 }

 .AboutMe-Content{
height: 350px;
 }

 .AboutMe-ContentText{
  b{
    color: #B0B0B0;
    font-size: 2em;
  }
  width: 513px;
  line-height: 29px;
  height: 258px;
  text-wrap: wrap;
  padding-right:93px ;
  color: #B0B0B0;
  font-family: 'Poppings';
  
  margin-top: 30px;


 }

 .AboutMe-ContentButton{
  margin-top: 10px;
  height: 49px;
  width: 163px;
  background: #FDF7F2;
  color: #161513;
  border-radius: 15px;
  font-weight: bold;
 }
 



 .AboutMe-DetailsImage{
  width: 442.15px;
  height: 350px;
 }



.Skills-Box{
  margin-top: 130px;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 

  
 .Title{
  padding-top: 20px;
  font-family: 'Coolvetica', sans-serif;
  color: #F0F2F5;
  font-size: 2em;
  padding-bottom: 45px;
 }
}

.Field-Containers{
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 100px;
  margin-right: 50px;
 
  
  
  .Field-Container{
    background: #181818;
    margin: 20px;
    width: 400px;
    min-height: 196px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    .FieldName{
      font-size: 1.6em;
      color: #78ADFE;
      text-wrap: wrap;
      width: 258px;
      text-align: center;
      padding-top: 25px;
    }
    .Skills{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      .Skill{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 56px;
        box-sizing: border-box;

        .SkillName{
          display: flex;
          color: #B0B0B0;
          img{
             max-height: 10px;
             padding-right: 5px;
          }
          
        }
        .SkillDescr{
          color:  #7D7D7D;
          background:#111;
          border-radius: 3px;
          height: 15px;
          width: 60px;
          box-sizing: border-box;
          /* height: 15px; */
          font-size: 7px;
                    text-align: center;
          padding-top: 2px;
          
          font-weight: bold;
          align-items: center;

        }
      }
    }
    
  }
  
}


