
.NavBar{
    background-color: #050605;
    color:#fff;
    height: 111px;
    align-content: center;
  }
  .NavBar .Container{
    display: flex;   
    justify-content: space-between;
    align-items: center;
  }
  .NavBar ul{
    display: flex;
    width: 473px;
    height: 25px;
    
  }
  .NavBar h1{
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
  }

  .NavBar  li{
    display: flex;
   color: #fff;
   padding-right: 30px;
  }

  .NavBar a{
    color: #404040;
    text-decoration: none;
    font-size: 18px;
    font-weight:  bold;

  }

  .NavBar a:hover{
    color: #E7B000;
  }
  